.carousel-indicators [data-bs-target] {
  position: relative;
  width: 40px;
  height: 10px;
  border: none;
  border-radius: 24px;
  background: rgba(189,189,189,.6);
  margin: 0 1.5em;
}
 
.carousel-indicators [data-bs-target] span {
  content: ’’;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(238,238,224,.8);
  border-radius: inherit;
}

.carousel-item {
  transform: translate3d(0px ,0px, 100px);
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
} 