body {
    background: #000;
}

#logo {
    width: 10em;
}

.nav-item {
    border-radius: 50px;
    background: #22252a;
    box-shadow:  10px 10px 60px #2a2b2b,
             -10px -10px 60px #343636;
    width: 10em;
}